html{
    height: 100%;
    width: 100%;
    background-color: white;
}

nav{

    color: dodgerblue;
    background-color: grey;
    box-sizing: content-box;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 18px;

}

a{
    background-color: lightgray;
    border-block: solid;
    border-width: 4px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 15px;
    padding: 20px 10px;
}

.main1{
    background-color: white;
    box-sizing: border-box;
    padding-top: 100px;
    left: 0;

}

p{

    color: black;
    margin-top: 400px;
    margin-left: 500px;
}


