html{
    background-color: rebeccapurple;
}


.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: black;
    box-shadow: 0 10px;color: black;
    padding: 1rem 0;
    display: flex;

    max-height: 40px;
}
section {
    padding-top: 20px;
    width: 100%;
    height: 800px;

}
p {
    align-self:left;
    padding-inline: 8px;
    color:red;
}

ul {
        text-align: left;
        vertical-align: text-top;
    }
.pup{padding-inline: 20px;
    padding-top: 8px}
.kit{padding-inline: 20px;
    padding-top: 8px}
.par{padding-inline: 20px;
    padding-top: 8px}


body {
    margin-top: 115px;
    margin-left: 0;
    max-height: 2000px;
    width: 100%;
    background-color: grey;

}
div {
    height: 800px;
    width: 100%;
    background-color: gray;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    border-style: solid;
    border-bottom: black;
    border-width: 2px;

}

.box1 {
    float: left;
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 20px;

}
.box2 {
    float: left;
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 20px;

}
.box3 {
    float: right;
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: white;

}.box4 {
    float: right;
    margin: 20px;
    height: 200px;
    width: 200px;
    background-color: white;
    margin: 20px;

}
.body-text{
    color: black;
}
.footjob{
    color: black;
    text-align: center;

}

img{
    float: right;
    margin-left: 700px;
    padding-bottom: 10px;


}
aside{
    float: right;
    margin-right: 20px;
}
