html{
    background-color: rebeccapurple;
}

.para{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 6px;
}
.para2{
    height: 300px;
    width: 400px;
    background-color: blue;
    border: 2px solid red;
}
.para3{
    height: 250px;
    width: 600px;
    background-color: green;
}